<?xml version="1.0"?>
  <robot name="bipedal_robot">
    <ros2_control name="real_biped_ros2_control" type="system">
      <hardware>
        <plugin>biped_hardware_interface/BipedSystemHardware</plugin>
        <param name="left_leg_port">/dev/biped_esp32_left</param>
        <param name="right_leg_port">/dev/biped_esp32_right</param>
        <param name="baud_rate">1000000</param>
      </hardware>

      <joint name="left_hip_pitch_joint">
        <command_interface name="position" />
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hip_roll_joint">      
        <command_interface name="position" />
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_knee_joint">      
        <command_interface name="position" />
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hip_pitch_joint">
        <command_interface name="position" />
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hip_roll_joint">
        <command_interface name="position" />
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_knee_joint">
        <command_interface name="position" />
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>


  </robot>