<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="bipedal_robot">

    <!-- ros2 control for simulated robot in ignition -->
    <xacro:include filename="$(find biped_description)/urdf/biped_sim_ros2_control.urdf" />

    <!-- robot description -->
    <xacro:include filename="$(find biped_description)/urdf/biped.urdf" />
    
</robot>