<?xml version="1.0"?>
  <robot name="bipedal_robot">
    <ros2_control name="gazebo_ros2_control" type="system">
      <!-- the hardware plugin is loaded by Gazebo controller manager -->
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="left_hip_pitch_joint">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.3</param>
        </state_interface>
      </joint>
      <joint name="left_hip_roll_joint">      
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="left_knee_joint">      
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.6</param>
        </state_interface>
      </joint>
      <joint name="right_hip_pitch_joint">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">-0.3</param>
        </state_interface>
      </joint>
      <joint name="right_hip_roll_joint">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="right_knee_joint">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">-0.6</param>
        </state_interface>
      </joint>

    </ros2_control>



    <!-- controller manager in gazebo -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find biped_control)/config/biped_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </robot>